[submodule "pymaker"]
	path = lib/pymaker
	url = https://github.com/makerdao/pymaker.git
[submodule "lib/web3py-restprovider"]
	path = lib/web3py-restprovider
	url = https://github.com/bargst/web3py-restprovider.git
