[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"web3" = "==4.0.0b5"
flask = "*"
# Required because of https://github.com/kennethreitz/pipenv/pull/1095
gevent = "*"
gevent-websocket = "*"
# Required because of markets/pymaker submodule (#TODO remove ...)
eth-testrpc = "*"


[dev-packages]

pytest = "*"
pytest-flask = "*"


[requires]

python_version = "3.6"
